<a href="https://colab.research.google.com/github/Vicysaragih/Belajar-Python/blob/main/Belajar_Python_18_Oktober_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DEEP COPY NESTED LIST**

In [4]:
data_0 = [4, 5]
data_1 = [9, 8]

data_2D = [data_0, data_1]
data_copy = data_2D.copy()

print (f"data = {data_2D}")
print(f"data {data_copy}")

data = [[4, 5], [9, 8]]
data [[4, 5], [9, 8]]

In [6]:
data = data_2D[1][0]
print(f"data {data}")

data 9

In [7]:
# Address semuanya
print(f"Adress asli = {hex(id(data_2D))}")
print(f"Adress Copy = {hex(id(data_copy))}")

Adress asli = 0x7e9a5ea1e240
Adress Copy = 0x7e9a5ebcfc80

In [8]:
print(f"Address dari member ke-1")

print(f"Adress asli = {hex(id(data_2D[0]))}") # adrress list di dalam list masih sama sehingga ketika ada perubahan di
print(f"Adress Copy = {hex(id(data_copy[0]))}") # disalah satu list yg sudah di copy kedua2 ikut berubah

Address dari member ke-1
Adress asli = 0x7e9a5ebb1f00
Adress Copy = 0x7e9a5ebb1f00

In [11]:
# Menggunakan deepcopy

from copy import deepcopy

data_2D = [data_0, data_1]
data_2D_deepcopy = deepcopy(data_2D)

print(f"Adress asli = {hex(id(data_2D))}")
print(f"Adress deep = {hex(id(data_2D_deepcopy))}")

Adress asli = 0x7e9a5eac2c80
Adress deep = 0x7e9a5eac3440

In [12]:
print(f"Adress asli = {hex(id(data_2D[0]))}") #
print(f"Adress deep = {hex(id(data_2D_deepcopy[0]))}")

Adress asli = 0x7e9a5ebb1f00
Adress deep = 0x7e9a5eac0a80

**LOOPING LIST**

In [17]:
peserta = ["Vicy", "Afandy", "Cordias", "Saragih", "Sumbayak", "Parhuluan"]

for nama in peserta:
  print(f"nama : {nama}")

nama : Vicy
nama : Afandy
nama : Cordias
nama : Saragih
nama : Sumbayak
nama : Parhuluan

In [15]:
angka  = [4, 7, 8, 2, 4, 1, ]

for A in angka :
  print(f"angka = {A}")

angka = 4
angka = 7
angka = 8
angka = 2
angka = 4
angka = 1

In [20]:
# Menggunakan While
kumpulan_angka = [5, 6, 8, 2, 4, 9, 1]

panjang = len(kumpulan_angka)
i = 0

while i < panjang:
  print(f"angka : {kumpulan_angka[i]}")
  i += 1

angka : 5
angka : 6
angka : 8
angka : 2
angka : 4
angka : 9
angka : 1

In [23]:
# List Comprehension
data_baru = ["Vicy", 4, 5, "Saragih"]

[print(f"data = {i}") for i in data_baru]

data = Vicy
data = 4
data = 5
data = Saragih

[None, None, None, None]

In [24]:
# Enumerate

data_list = ["Vicy", 4, 5, "Saragih"]

for index, data in enumerate (data_list):
  print(f"index : {index}, data : {data}")

index : 0, data : Vicy
index : 1, data : 4
index : 2, data : 5
index : 3, data : Saragih

**TUPLE DAN SET**

In [27]:
data_tuples = (4, 5, 9, 8)
print(data_tuples)

(4, 5, 9, 8)

In [28]:
print(data_tuples[1])

5

In [31]:
data_sets = {4, 5, 9, 8}

print(data_sets)

{8, 9, 4, 5}