<a href="https://colab.research.google.com/github/Vicysaragih/Belajar-Python/blob/main/Belajar_Python_17_Oktober_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**OPERASI LIST**

In [3]:
data_angka = (1, 3, 5, 3, 7, 8, 4, 3, 5, 8, 9, 6, 7, )
print(f" Data Angka = \n {data_angka}")

 Data Angka =
 (1, 3, 5, 3, 7, 8, 4, 3, 5, 8, 9, 6, 7)

In [6]:
jumlah_angka3 = data_angka.count(3) # Menghitung jumlah dari suatu  data

print(f"Jumlah angka 3 = {jumlah_angka3}")

Jumlah angka 3 = 3

In [9]:
jumlah_angka8 = data_angka.count(8)

print(f"Jumlah angka 8 = {jumlah_angka8}")

Jumlah angka 8 = 2

In [11]:
data = ["Vicy", "Saragih", "Sumbayak"]

index_Saragih = data.index("Saragih") # Mencarai index dalam list

print(f"Saragih ada di Index ke- {index_Saragih} ")

Saragih ada di Index ke- 1

**COPY LIST**

In [12]:
A = ["Vicy", "Saragih", "Sumbayak"]
print (f"a = {A}")

a = ['Vicy', 'Saragih', 'Sumbayak']

In [13]:
B = A

print(f"b = {B}")

b = ['Vicy', 'Saragih', 'Sumbayak']

In [15]:
A[1] = "Cordias"
print(f"a = {A}")
print(f"b = {B}")

a = ['Vicy', 'Cordias', 'Sumbayak']
b = ['Vicy', 'Cordias', 'Sumbayak']

In [17]:
C = A.copy()  #Full duplikat
print(f"c = {C}")

C[1] = "Afandy"

print(f"c = {C}")
print(f"a = {A}")

c = ['Vicy', 'Cordias', 'Sumbayak']
c = ['Vicy', 'Afandy', 'Sumbayak']
a = ['Vicy', 'Cordias', 'Sumbayak']

In [21]:
C.sort()  # Mengurutkan list
print(f"c = {C}")
print(f"a = {A}") # List A tidak berubah

c = ['Afandy', 'Sumbayak', 'Vicy']
a = ['Vicy', 'Cordias', 'Sumbayak']

**NESTED LIST**

In [25]:
data_0 = [4, 5]
data_1 = [9, 8]

list_biasa = [4, 5, 9, 8]
print(f" List biasa = {list_biasa}")

list_2D = [data_0, data_1]
print(f"\nList di dalam list = {list_2D}")

 List biasa = [4, 5, 9, 8]

List di dalam list = [[4, 5], [9, 8]]

In [28]:
# Contoh penggunaan

peserta_0 = ["Vicy", 25, "Laki-laki"]
peserta_1 = ["Afandy", 24, "Laki-laki"]
peserta_2= ["Cordias", 26, "Laki-laki"]

list_peserta = [peserta_0, peserta_1, peserta_2]

print(f" List peserta = {list_peserta}")

 List peserta = [['Vicy', 25, 'Laki-laki'], ['Afandy', 24, 'Laki-laki'], ['Cordias', 26, 'Laki-laki']]

In [30]:
for peserta in list_peserta:
  print(f"nama\t: {peserta[0]}")
  print(f"umur\t: {peserta[1]}")
  print(f"gender\t: {peserta[2]}\n")

nama	: Vicy
umur	: 25
gender	: Laki-laki

nama	: Afandy
umur	: 24
gender	: Laki-laki

nama	: Cordias
umur	: 26
gender	: Laki-laki

In [40]:
list_copy = list_peserta.copy()

print(f" List peserta = {list_copy}")

peserta_0[0] = "saragih"

print(f"\nList peserta = {list_copy}")
print(f"\nList peserta = {list_peserta}") #Di nested List ini tidak dapat hanya menggunakan copy()

 List peserta = [['saragih', 25, 'Laki-laki'], ['Afandy', 24, 'Laki-laki'], ['Cordias', 26, 'Laki-laki']]

List peserta = [['saragih', 25, 'Laki-laki'], ['Afandy', 24, 'Laki-laki'], ['Cordias', 26, 'Laki-laki']]

List peserta = [['saragih', 25, 'Laki-laki'], ['Afandy', 24, 'Laki-laki'], ['Cordias', 26, 'Laki-laki']]