<a href="https://colab.research.google.com/github/Vicysaragih/Belajar-Python/blob/main/Belajar_Python_14_Oktober_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FORMAT STRING**

In [4]:
# Contoh generic

#String
nama = "Vicy"
format_str = f"Hello {nama}"

print(format_str)


# Angka
Angka = 298
format_str = f"Angka {Angka}"

print(format_str)

Hello Vicy
Angka 298

In [6]:
Jutaan = 2987777
format_str = f"Nilai {Jutaan :,}"

print(format_str)

Nilai 2,987,777

In [8]:
#Bilangan Desimal

Desimal = 29.87777
format_str = f"Nilai {Desimal :.2f}"

print(format_str)

Nilai 29.88

In [10]:
#Data

data_nama = "Vicy"
data_umur = 25
data_tinggi = 158
data_nomor_sepatu = 40

#String
data_string = f"nama = {data_nama}, umur = {data_umur}, tinggi = {data_tinggi}, Nomor Sepatu = {data_nomor_sepatu}"
print(4*"="+"Data String"+4*"=")
print(data_string)

====Data String====
nama = Vicy, umur = 25, tinggi = 158, Nomor Sepatu = 40

In [12]:
data_string = f"nama = {data_nama} \numur = {data_umur} \ntinggi = {data_tinggi} \nNomor Sepatu = {data_nomor_sepatu}"
print(4*"="+"Data String"+4*"=")
print(data_string)

====Data String====
nama = Vicy
umur = 25
tinggi = 158
Nomor Sepatu = 40

In [16]:
 #Rata kanan
 data_string = f"nama = {data_nama:>8} \numur = {data_umur:>7} \ntinggi = {data_tinggi:>5} \nSepatu = {data_nomor_sepatu:>5}"
print(4*"="+"Data String"+4*"=")
print(data_string)

====Data String====
nama =     Vicy
umur =      25
tinggi =   158
Sepatu =    40

In [17]:
import datetime as dt
hari_ini = dt.date.today()
print(hari_ini)

2023-10-14